<style>

	body{
		background-color: #ff0000;
		
		display: inline;
		font-family: Arial, Helvetica, sans-serif;
		margin-bottom: 100px;
		clear: both;
	}

	#head {
		background-color:#dddddd;
		color:white;
		text-align:center;
		padding:5px;
		}
		
	#nav {
		line-height:30px;
		background-color:#eeeeee;
		height:546px;
		width:200px;
		float:left;
		padding:25px;
		padding-right:5px;
		border-style: solid;
		border-color:#ff0000;
		border-width:3px;
		}
		
	#section {
		width:900px;
		clear:right ;
		padding:15px 15px 15px;
		padding-left:5px;
		border-style: solid;
		border-width: 3px;
		border-color:#ff0000;
		
		#a {
			padding-left:5px;
			}
		
		}
		
	#footer {
		background-color:#dddddd;
		color:black;
		clear:both;
		text-align:center;
		padding:5px; 
		}
	
</style>
